# for local development
version: '1.2-nightly'
services:
  msc-animet:
    image: eccc-msc/msc-animet:nightly
    container_name: msc-animet-nightly
    build:
      context: .
    restart: unless-stopped
    ports:
    - '5090:80'
